<div class="row">
    <div class="col l6 m6 s12">
        <div class="card-panel transparent">
            <h5 class="cyan-text"> SUMMARY</h5>
            <p class="black-text">Welcome to my page! My name is Tran Chi Tam. I am a Software Engineer at Swiss Post
                Solutions.
            </p>
            <p>Strong points:</p>
            <ul>
                <li>- Fast learner and always want to take new challenges.</li>
                <li>- Flexible and eager to learn new things.</li>
                <li>- Good Problem Solving skills, Data Structures and Algorithms.</li>
                <li>- Have strong knowledge in Java development..</li>
                <li>- Have strong knowledge in OOP, MVC, quality coding with maintainable abilities.</li>
                <li>- Have deep knowledge in Design Patterns.</li>
                <li>- Have strong experience in Web development with modern technologies such as
                    HTML5, CSS3, AngularJS, Bootstrap...
                </li>
                <li>- Have experience in native mobile development such as Android and Windows Phone.</li>
                <li>- Interested in developing software for million users.</li>
                <li>- Be self-motivated.</li>
                <li>- Good communication skills.</li>
            </ul>
        </div>
    </div>
    <div class="col l6 m6 s12">
        <div class="card-panel transparent">
            <h5 class="cyan-text">INFORMATION</h5>
            <div class="row">
                <div class="col l4 m12 m12">
                    <img src="../images/user-profile.jpg" class="responsive-img">
                </div>
                <div class="col l6 m12 s12">
                    <ul id="user-information">
                        <li>Name: TAM TRAN CHI</li>
                        <li>Date of birth: 22nd October, 1991</li>
                        <li>Gender: Male</li>
                        <li>Nationality: Vietnamese</li>
                        <li>Email: tranchitams3201@gmail.com</li>
                        <li>Skype ID: tranchitams3201</li>
                        <li>Github: <a href="https://github.com/tranchitam" target="_blank">https://github.com/tranchitam</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>