<div class="row">
    <div class="col s12 m6 l4">
        <div class="card">
            <div class="center" style="padding: 15px; font-weight: bold; color: #727272">Algorithms
            </div>
            <div class="card-image waves-effect waves-block waves-light grey lighten-4" style="padding: 10px">
                <img class="activator" src="../images/algorithm.png">
            </div>
            <div class="card-content">
                <span class="card-title activator grey-text text-darken-1"><i
                        class="material-icons right">more_vert</i></span>
                <p><a href="http://codeforces.com/profile/tranchitam" target="_blank">Codeforces</a>
                </p>
                <p><a href="http://uhunt.felix-halim.net/id/333601" target="_blank">UVA</a>
                </p>
                <p><a href="http://www.lightoj.com/" target="_blank">Lightoj</a></p>
            </div>
            <div class="card-reveal">
                <span class="card-title light-blue-text text-darken-1">Algorithms<i
                        class="material-icons right">close</i></span>
                <p>Adhoc</p>
                <p>Union Find</p>
                <p>List, Stack, Queue</p>
                <p>Priority Queue, Heap</p>
                <p>Tree</p>
                <p>Sorting: MergeSort, QuickSort, HeapSort, BubbleSort, InsertionSort, SelectionSort</p>
                <p>Dynamic Programming</p>
                <p>Graph ...</p>
            </div>
        </div>
    </div>
    <div class="col s12 m6 l4">
        <div class="card">
            <div class="center" style="padding: 15px; font-weight: bold; color: #727272">JavaScript
            </div>
            <div class="card-image waves-effect waves-block waves-light grey lighten-4" style="padding: 10px">
                <img class="activator" src="../images/javascript.png">
            </div>
            <div class="card-content">
                <span class="card-title activator grey-text text-darken-1"><i
                        class="material-icons right">more_vert</i></span>
                <p><a href="https://developer.mozilla.org/en-US/docs/Web/JavaScript" target="_blank">JavaScript</a>
            </div>
            <div class="card-reveal">
                <span class="card-title light-blue-text text-darken-1">JavaScript<i
                        class="material-icons right">close</i></span>
            </div>
        </div>
    </div>
    <div class="col s12 m6 l4">
        <div class="card">
            <div class="center" style="padding: 15px; font-weight: bold; color: #727272">Java
            </div>
            <div class="card-image waves-effect waves-block waves-light grey lighten-4" style="padding: 10px">
                <img class="activator" src="../images/java.png">
            </div>
            <div class="card-content">
                <span class="card-title activator grey-text text-darken-1"><i
                        class="material-icons right">more_vert</i></span>
                <p><a href="https://www.oracle.com/java/index.html" target="_blank">Java</a>
            </div>
            <div class="card-reveal">
                <span class="card-title light-blue-text text-darken-1">Java<i
                        class="material-icons right">close</i></span>
            </div>
        </div>
    </div>
    <div class="col s12 m6 l4">
        <div class="card">
            <div class="center" style="padding: 15px; font-weight: bold; color: #727272">AngularJS
            </div>
            <div class="card-image waves-effect waves-block waves-light grey lighten-4" style="padding: 10px">
                <img class="activator" src="../images/angularjs.png">
            </div>
            <div class="card-content">
                <span class="card-title activator grey-text text-darken-1"><i
                        class="material-icons right">more_vert</i></span>
                <p><a href="https://angularjs.org/" target="_blank">AngularJS</a>
            </div>
            <div class="card-reveal">
                <span class="card-title light-blue-text text-darken-1">AngularJS<i
                        class="material-icons right">close</i></span>
            </div>
        </div>
    </div>
    <div class="col s12 m6 l4">
        <div class="card">
            <div class="center" style="padding: 15px; font-weight: bold; color: #727272">HTML5
            </div>
            <div class="card-image waves-effect waves-block waves-light grey lighten-4" style="padding: 10px">
                <img class="activator" src="../images/html5.png">
            </div>
            <div class="card-content">
                <span class="card-title activator grey-text text-darken-1"><i
                        class="material-icons right">more_vert</i></span>
                <p><a href="https://developer.mozilla.org/en-US/docs/Web/HTML" target="_blank">HTM5</a>
            </div>
            <div class="card-reveal">
                <span class="card-title light-blue-text text-darken-1">HTML5<i
                        class="material-icons right">close</i></span>
            </div>
        </div>
    </div>

    <div class="col s12 m6 l4">
        <div class="card">
            <div class="center" style="padding: 15px; font-weight: bold; color: #727272">CSS3
            </div>
            <div class="card-image waves-effect waves-block waves-light grey lighten-4" style="padding: 10px">
                <img class="activator" src="../images/css3.png">
            </div>
            <div class="card-content">
                <span class="card-title activator grey-text text-darken-1"><i
                        class="material-icons right">more_vert</i></span>
                <p><a href="https://developer.mozilla.org/en-US/docs/Web/CSS" target="_blank">CSS3</a>
            </div>
            <div class="card-reveal">
                <span class="card-title light-blue-text text-darken-1">CSS3<i
                        class="material-icons right">close</i></span>
            </div>
        </div>
    </div>
    <div class="col s12 m6 l4">
        <div class="card">
            <div class="center" style="padding: 15px; font-weight: bold; color: #727272">Bootstrap
            </div>
            <div class="card-image waves-effect waves-block waves-light grey lighten-4" style="padding: 10px">
                <img class="activator" src="../images/bootstrap.png">
            </div>
            <div class="card-content">
                <span class="card-title activator grey-text text-darken-1"><i
                        class="material-icons right">more_vert</i></span>
                <p><a href="http://getbootstrap.com/" target="_blank">Bootstrap</a>
            </div>
            <div class="card-reveal">
                <span class="card-title light-blue-text text-darken-1">Bootstrap<i
                        class="material-icons right">close</i></span>
            </div>
        </div>
    </div>

    <div class="col s12 m6 l4">
        <div class="card">
            <div class="center" style="padding: 15px; font-weight: bold; color: #727272">Spring
            </div>
            <div class="card-image waves-effect waves-block waves-light grey lighten-4" style="padding: 10px">
                <img class="activator" src="../images/springframework.jpg">
            </div>
            <div class="card-content">
                <span class="card-title activator grey-text text-darken-1"><i
                        class="material-icons right">more_vert</i></span>
                <p><a href="https://spring.io" target="_blank">Spring</a>
            </div>
            <div class="card-reveal">
                <span class="card-title light-blue-text text-darken-1">Spring<i
                        class="material-icons right">close</i></span>
            </div>
        </div>
    </div>

    <div class="col s12 m6 l4">
        <div class="card">
            <div class="center" style="padding: 15px; font-weight: bold; color: #727272">Database
            </div>
            <div class="card-image waves-effect waves-block waves-light grey lighten-4" style="padding: 10px">
                <img class="activator" src="../images/database.png">
            </div>
            <div class="card-content">
                <span class="card-title activator grey-text text-darken-1"><i
                        class="material-icons right">more_vert</i></span>
                <p><a href="#" target="_blank">Database</a>
            </div>
            <div class="card-reveal">
                <span class="card-title light-blue-text text-darken-1">Database<i
                        class="material-icons right">close</i></span>
            </div>
        </div>
    </div>

    <div class="col s12 m6 l4">
        <div class="card">
            <div class="center" style="padding: 15px; font-weight: bold; color: #727272">Design Patterns
            </div>
            <div class="card-image waves-effect waves-block waves-light grey lighten-4" style="padding: 10px">
                <img class="activator" src="../images/designpattern.png">
            </div>
            <div class="card-content">
                <span class="card-title activator grey-text text-darken-1"><i
                        class="material-icons right">more_vert</i></span>
                <p><a href="http://www.oodesign.com" target="_blank">Design Patterns</a>
            </div>
            <div class="card-reveal">
                <span class="card-title light-blue-text text-darken-1">Design Patterns<i
                        class="material-icons right">close</i></span>
            </div>
        </div>
    </div>

    <div class="col s12 m6 l4">
        <div class="card">
            <div class="center" style="padding: 15px; font-weight: bold; color: #727272">NodeJS
            </div>
            <div class="card-image waves-effect waves-block waves-light grey lighten-4" style="padding: 10px">
                <img class="activator" src="../images/nodejs.png">
            </div>
            <div class="card-content">
                <span class="card-title activator grey-text text-darken-1"><i
                        class="material-icons right">more_vert</i></span>
                <p><a href="https://nodejs.org/en/" target="_blank">NodeJS</a>
            </div>
            <div class="card-reveal">
                <span class="card-title light-blue-text text-darken-1">NodeJS<i
                        class="material-icons right">close</i></span>
            </div>
        </div>
    </div>

    <div class="col s12 m6 l4">
        <div class="card">
            <div class="center" style="padding: 15px; font-weight: bold; color: #727272">Git
            </div>
            <div class="card-image waves-effect waves-block waves-light grey lighten-4" style="padding: 10px">
                <img class="activator" src="../images/git.png">
            </div>
            <div class="card-content">
                <span class="card-title activator grey-text text-darken-1"><i
                        class="material-icons right">more_vert</i></span>
                <p><a href="https://git-scm.com/" target="_blank">Git</a>
            </div>
            <div class="card-reveal">
                <span class="card-title light-blue-text text-darken-1">Git<i
                        class="material-icons right">close</i></span>
            </div>
        </div>
    </div>

    <div class="col s12 m6 l4">
        <div class="card">
            <div class="center" style="padding: 15px; font-weight: bold; color: #727272">SVN
            </div>
            <div class="card-image waves-effect waves-block waves-light grey lighten-4" style="padding: 10px">
                <img class="activator" src="../images/svn.png">
            </div>
            <div class="card-content">
                <span class="card-title activator grey-text text-darken-1"><i
                        class="material-icons right">more_vert</i></span>
                <p><a href="https://subversion.apache.org/" target="_blank">SVN</a>
            </div>
            <div class="card-reveal">
                <span class="card-title light-blue-text text-darken-1">SVN<i
                        class="material-icons right">close</i></span>
            </div>
        </div>
    </div>


</div>